@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
span {
  font-size: 0.9 rem;
  color: rgb(104, 99, 99);
}
h6 {
  font-size: 1.1 rem;
  font-weight: 700;
  color: black;
}

/* -----------------------------------------------Navbar-------------------------------- */
nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
  z-index: 999;
}
nav img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50px;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  margin-left: 20px;
}
nav .navigation ul li a {
  color: rgb(44, 44, 88);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
nav .navigation ul li a:hover {
  color: #fdc93b;

}

.menu{
  /* display: flex; */
  font-size: 1.5rem;
  color: rgba(16, 16, 51, 0.725);
  
}
#menu-btn{
  display: none;
}
#menu-close{
  display: none;
}
.My-IUB{
  background-color: #fdc93b;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;

}


/* ----------------------------------------------------Home-------------------------------- */
#home {
  /* background-image: url(IUB3.png); */
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(IUB3.png);
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}
#home h4 {
  color: #fff;
  font-size: 1.5rem;
  /* letter-spacing: 1px; */
}
#home h2 {
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 1px;
}
#home p {
  width: 60%;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  line-height: 25px;
}
#home .btn {
  margin-top: 30px;
}
#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
#home a.blue {
  color: #fff;
  background: rgb(21, 21, 100);
  transition: all 0.5s ease-in-out;
}
#home a.blue:hover {
  color: rgb(21, 21, 100);
  background: #ffff;
}
#home a.yellow {
  color: #fff;
  background: #fdc93b;
  transition: all 0.3s ease-in-out;
}
#home a.yellow:hover {
  color: rgb(21, 21, 100);
  background: #ffff;
}
/* ------------------------------------features------------------------- */
#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#features .fea-box {
  background-color: #f9f9f9;
  text-align: start;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.5s ease-in;
}
#features .fea-box:hover {
  background-color: #fdc93b;
}
#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 88);
}
#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
}
#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}
/* ---------------------------------------------Gallery------------------------------- */
#Gallery {
  padding: 5vw 7vw 0 7vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#Gallery p {
  width: 60%;
  color: rgb(70, 70, 87);
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  line-height: 25px;
}
.Gallery {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 50px;
}
.Gallery img {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.Gallery img {
  width: 300px;
  height: 300px;
  margin: 10px;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}
.Gallery img:hover {
  transform: scale(1.3);
  border-radius: 10px;
}
/* ---------------------------------------------Registration------------------------------- */
#registration {
  padding: 6vw 8vw 6vw 8vw;
  margin-top: 50px;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(IUB4.png);
  /* background-image: url(IUB4.png); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#registration .reminder {
  color: #fff;
}
#registration .reminder h1 {
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 1px;
}
#registration .reminder .time {
  margin-top: 14px;
  display: flex;
}
#registration .reminder .time .date {
  text-align: center;
  padding: 13px 33px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid #ffffff68;
  font-size: 1.1rem;
  font-weight: 600;
}
#registration .form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 2px 2px 10px rgba(237, 14, 14, 0.15);
}
#registration .form input{
    margin: 15px 0;
    padding: 10px 10px;
    border: 1px solid #ccc;
}
#registration .form input::placeholder{
    color: #fdc93b;
    font-weight: 500;
    font-size: 0.9rem;
    

}
#registration .form .btn{
    margin-top: 20px;
}
#registration .form a.yellow {
    color: #fff;
    background: #fdc93b;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    /* border: 1px solid #fdc93b; */
    
  }
  #registration .form a.yellow:hover {
    color: #fdc93b;
    background: #ffff;
  }
  /* ------------------------------------------------Experts--------------------------------------------  */
#experts{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}
#experts h2{
    /* color: #000000; */
    font-size: 2.8rem;
    /* letter-spacing: 1px; */
}
#experts h4{
    /* color: #fff; */
    font-size: 1.5rem;
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 50px;
}
#experts .expert-box .profile{
   /* background-color: #f7f7f7; */
   padding: 25px;
   box-shadow: 2px 2px 10px rgba(197, 197, 197, 0.85);
   /* border: 1px solid #000000; */
   border-radius: 10px;

}
#experts .expert-box .profile img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#experts .expert-box .profile h4{
    font-size: 1rem;
}
#experts .expert-box .profile h2{
    font-size: 1.5rem;
}
#experts .expert-box .profile i{
    font-size: 1.5rem;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.184); */
    box-shadow: 2px 2px 10px rgba(197, 197, 197, 0.85);

    border-radius: 40px;
    /* color: white; */
}
#experts .expert-box .profile i:hover{
    font-size: 1.5rem;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    color: #ffff;
    background-color: rgba(14, 69, 220, 0.688);
    /* background-color: rgba(0, 0, 0, 0.16); */
    box-shadow: 2px 2px 10px rgba(197, 197, 197, 0.85);
}
/* ---------------------------------------------Footer--------------------------------- */
footer{
    background-color: #0d1627;
    margin-top: 75px;
    padding: 5vw 8vw 5vw 8vw;
}
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
#footer .footer-col{
    padding-bottom: 40px;
}
#footer h3{
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(241, 248, 245);
}
#footer li{
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3 ease;
}
#footer li:hover{
    color: rgb(241, 248, 245);
}
#footer p{
    color: #7b838a;
}
#footer .subscribe{
    margin-top: 20px;
}
#footer input{
    width: 220px;
    padding: 15px 12px;
    background-color: #334f6c;
    border: none;
    outline: none;
    color: #fff;
}
#footer a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 18px;
    background-color: #fff;
    font-weight: 600;
  }

  #footer a.yellow {
    color: #fff;
    background: #fdc93b;
    transition: all 0.5s ease-in-out;
  }
  #footer a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
  }
  footer .copyright{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.742);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  footer  i{
    font-size: 1rem;
    /* margin: 10px; */
    padding: 15px;
    cursor: pointer;
    background-color: #334f6c;
    /* box-shadow: 2px 2px 10px rgba(197, 197, 197, 0.85); */

    /* border-radius: 40px; */
    /* color: white; */
}
  footer  i:hover{
 background-color: #fdc93b;
 color: #0d1627;
}